.pantry-page {
  background-color: rgba(250, 5, 5, 0.75); 
  color: #fffbe6;
  padding: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
}

.pantry-page h2 {
  text-align: center;
  margin-bottom: 24px;
  color: #00eeff;
}

.pantry-form {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 32px;
  position: relative;
}

.pantry-form input,
.pantry-form select,
.pantry-form button {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid white;
  background-color: #3e2f1f;
  color: #fffbe6;
  font-size: 0.9rem;
}

.pantry-form button {
  background-color: #00eeff;
  color: black;
  border: none;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.3s;
}

.pantry-form button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 12px #90EE90;
}

.pantry-list h3 {
  color: #00eeff;
  margin-top: 32px;
  margin-bottom: 12px;
}

.pantry-item {
  /* background-color: rgba(250, 5, 5, 0.75) */
  color: black;
  border: 1px solid #4f3b2d;
  border-radius: 12px;
  padding: 12px;
  margin-bottom: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

/* Autocomplete Styles */
.autocomplete-wrapper {
  position: relative;
  flex: 1 1 100%;
}

.suggestion-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #3e2f1f;
  border: 1px solid #4f3b2d;
  border-radius: 8px;
  max-height: 200px;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin-top: 4px;
  z-index: 10;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
  transition: background 0.2s;
}

.suggestion-item:hover {
  background-color: #4c3828;
}